In [1]:
## Understanding concepts of python
# "A" - any grade 90-100, inclusive
# "B" - any grade 80-89, inclusive
# "C" - any grade 70-79, inclusive
# "D" - any grade 60-69, inclusive
# "F" - any grade <60

In [2]:
# TODO: Edit the function to return the correct grade for different scores
def get_grade(score):
    if score >=90 and score<=100:
        return "A"
    elif score >=80 and score<90:
        return "B"
    elif score >=70 and score<80:
        return "C"
    elif score >=60 and score<70:
        return "D"
    else:
        return "F"

In [3]:
get_grade(60)

'D'

In [4]:
# 7 day challenge: 
#Day1:frequency & distribution
# concept: counting, dictionaries, understanding data

#L1
data = [1,2,2,3,3,3]
freq = {}

for i in data:
    if i in freq:
        freq[i] = freq[i]+1
    else:
        freq[i] = 1

print(freq)

{1: 1, 2: 2, 3: 3}

#### String 
- It can be represented using single quotes(' ') or double quotes(" ")
- Strings are immutable (cannot be changed)
- Common string methods: split(), strip(), replace(), lower(), upper(), find(), join()

In [53]:
string = "I am learning python programming"

In [54]:
 s= string.split(" ")

In [55]:
string.strip()

'I am learning python programming'

In [56]:
def sting_checker():
    try:
        ss= string.replace("python","Java")
    except:
        print("An error occurred")
    return ss

In [57]:
sting_checker()

'I am learning Java programming'

In [58]:
string.find("a")

2

In [59]:
str1 = f"Hey"
str2 = f"there"
new_str = " ".join([str1, str2])
print(new_str)
print(f"{str1} {str2}")

Hey there
Hey there

In [60]:
str = "Hello, World!"
print(str.lower())

hello, world!

In [61]:
print(str.capitalize())

Hello, world!

In [62]:
print(str.upper())

HELLO, WORLD!

In [63]:
print(str.endswith("d"))
print("\n===========")
print(str.startswith("H"))

False

===========
True

#### List - 
- 
- 
- 
- 
-

In [64]:
lst = []
type(lst)

list

In [69]:
lst.append("bab")
print(lst)

['bab', 'bab', 'bab', 'bab', 'bab']

In [73]:
lst.remove("bab")
print(lst)

['bab']

In [75]:
lst=["A1B2C3","password12","Gr8yz&atOMY","SHOE-1234","ERR404",
"jjHF47",
"abc123def",
"Project_Report_2024","Track5678"]

In [76]:
lst

['A1B2C3',
 'password12',
 'Gr8yz&atOMY',
 'SHOE-1234',
 'ERR404',
 'jjHF47',
 'abc123def',
 'Project_Report_2024',
 'Track5678']

In [79]:
lst[:4]

['A1B2C3', 'password12', 'Gr8yz&atOMY', 'SHOE-1234']

In [80]:
lst[3:5]

['SHOE-1234', 'ERR404']

In [92]:
lst.append(["bet123","saxne"])

In [93]:
lst

['A1B2C3',
 'password12',
 'Gr8yz&atOMY',
 'SHOE-1234',
 'ERR404',
 'jjHF47',
 'abc123def',
 'Project_Report_2024',
 'Track5678',
 ['bet123', 'saxne']]

In [94]:
lst.extend(['bet123', 'saxne'])

In [95]:
lst

['A1B2C3',
 'password12',
 'Gr8yz&atOMY',
 'SHOE-1234',
 'ERR404',
 'jjHF47',
 'abc123def',
 'Project_Report_2024',
 'Track5678',
 ['bet123', 'saxne'],
 'bet123',
 'saxne']

In [96]:
lst.insert(2,"bestfriend")

In [97]:
lst

['A1B2C3',
 'password12',
 'bestfriend',
 'Gr8yz&atOMY',
 'SHOE-1234',
 'ERR404',
 'jjHF47',
 'abc123def',
 'Project_Report_2024',
 'Track5678',
 ['bet123', 'saxne'],
 'bet123',
 'saxne']

In [98]:
lst.remove(['bet123', 'saxne'])

In [99]:
lst

['A1B2C3',
 'password12',
 'bestfriend',
 'Gr8yz&atOMY',
 'SHOE-1234',
 'ERR404',
 'jjHF47',
 'abc123def',
 'Project_Report_2024',
 'Track5678',
 'bet123',
 'saxne']

In [106]:
lstnum = [1,2,3]
lstnum.extend([4,5,6,6,6,6])

In [107]:
sum(lstnum)

39

In [110]:
lstnum.sort()
#lstnum.count(6)

In [114]:
lstnum.sort(reverse=True)
print(lstnum)

[6, 6, 6, 6, 5, 4, 3, 2, 1]

In [115]:
len(lstnum)

9

In [ ]:
lstnum.index()

8

In [119]:
# Data Structures
# List
# Dict
# Tuple
# Set - a set is unorder collection of data types. it will not have any duplicates.

In [128]:
# You dont have any indexing in sets and there is only 2 methods you can do mostly
# "add" and ""
s={'dfd','fdss','vfsv'}
p={1,34,45}
set(s)

{'dfd', 'fdss', 'vfsv'}

In [132]:
s.issuperset(p)

False

In [133]:
s.issubset(p)

False

In [134]:
s.intersection(p)

set()

In [135]:
# Iterate through the elements of Dict,list,tuple,set, pandas dataframe etc.

In [136]:
#### 1. Iterating ove the list
emp_name = ["bob","jane","tom","nick"]
# simple for loop
for name in emp_name:
    print(name)

bob
jane
tom
nick

In [140]:
# specific index print in loop
for name in emp_name:
    print(emp_name[1])

jane
jane
jane
jane

In [144]:
# using range()
for name in range(len(emp_name)):
    print(emp_name[name])

bob
jane
tom
nick

In [145]:
# using enumerate ---> best practice
for index,name in enumerate(emp_name):
    print(f"Emp {index} : {name}")

Emp 0 : bob
Emp 1 : jane
Emp 2 : tom
Emp 3 : nick

In [151]:
# using enumerate ---> best practice
for index,name in enumerate(emp_name):
    print(index,name)

0 bob
1 jane
2 tom
3 nick

In [ ]:
# List comprehensions:
#syntax: new_list = [expression for item in iterable (if condition)]

# expression -what you want to store in list
# item - each element from the iterable
# iterable - list,tuple,set,string,range etc.
# if condition is optional
#example:

numbers = [1,2,3,4,5,6,7,8,9,12]
square_num = [item>6 for item in numbers if item>6]
print(square_num)

[True, True, True, True]